body{
    background-color: b;
}
.main-heading{
    color: blueviolet;
    background-color: aquamarine;
    font-size: 30px;
}
.awesome-button{
    color:white;
    background-color: blueviolet;
    font size: 30px;
}